<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <variable name="logDirectory" value="${basedir}/Logs" />
    <targets>
      <target name="console" xsi:type="Console" />
      <target name="commonFile" xsi:type="File" fileName="${logDirectory}/MVCDataFromDataBase_TimCorrey.${shortdate}.log" />
      <target name="errorFile" xsi:type="File" fileName="${logDirectory}/MVCDataFromDataBase_TimCorrey.Errors.log" />
    </targets>
    <rules>
      <logger name="Sqi.*" minlevel="Debug" writeTo="console,commonFile" />
      <logger name="Sqi.*" minlevel="Warn" writeTo="errorFile" />
    </rules>
  </nlog>
  
</configuration>